body, html {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

body{
    background-color: rgb(240, 207, 74);
}

a{
    text-decoration: none;
    color: red;
    transition: all 0.3s;
    -moz-transition:all 0.3s ;
    -webkit-transition:all 0.3s ;
    -o-transition: all 0.3s;
    -ms-transition:all 0.3s;
}

a:hover{
    font-size:20px;
}

input{
    background-color: rgba(232, 194, 255, 0.561);
}

.content {
    margin: 3% auto;
    width: 400px;
}

table, td, th {
    border: 1px solid rgb(240, 125, 125);
    opacity: 0.9;
    text-transform: capitalize;
}

tr:nth-child(even){
    background-color: #75d3ff;
}
tr:nth-child(odd){
    background-color: #75ffba;
}

td:nth-child(even){
    background-color: rgb(153, 246, 76);
}

tr:first-child{
    background-color: rgba(190, 82, 44);
    color: rgb(17, 75, 25);
}

.broad{
    max-width: 100000px;
}

td{
    width: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(228, 39, 228);
    font-weight: 700;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

#acc{
    background-color: rgba(62, 216, 62, 0.52);
}