body, html {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

tr:nth-child(even){
    background-color: #75d3ff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}